div {
	height: 50px;
	width: 120px;
	border: 5px solid #6495ED;
	background-color: #BCD2EE;
	border-radius: 15px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}