.container {
	width: 900px;
	margin: 0 auto;
}

.header {
	float: left;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.nav {
	float: left;
	width: 100px;
	height: 400px;
	background-color: #eeeeee;
}

.main {
	width: 780px;
	float: left;
}

.footer {
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
}
