<!DOCTYPE html>
<html>
<head>
<style>
.container {
	width: 900px;
	margin: 0 auto;
}

.header {
	float: left;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.content {
	float: left;
	width: 100%;
	position: relative;
}

.nav {
	width: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #eeeeee;
}

.main {
	margin-left: 100px;
	float: left;
}

.footer {
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
}
</style>
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Header</h1>
        </div>
        <div class="content">
            <div class="nav">
                Section 1<br> Section 2<br> Section 3
            </div>
            <div class="main" data-layout-fragment="content"></div>
        </div>
        <div class="footer">Copyright &copy; Company.com</div>
    </div>

</body>
</html>
