<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="./app/app.js"></script>
<script src="./app/controller.js"></script>
</head>

<body ng-app="app" ng-controller="Controller as vm">

	<h1>A checklist</h1>

	<div ng-hide="vm.items && vm.items.length > 0">There are no items
		yet.</div>

	<form ng-submit="vm.addItem(vm.newItem)">

		<div ng-repeat="item in vm.items track by $index">

			<label
				style="text-decoration: {{item.checked? 'line-through': 'none'}}">
				<input type="checkbox" ng-model="item.checked" />
				{{item.description}}
			</label>

			<button type="button" ng-click="vm.deleteItem(item)">Delete</button>
		</div>

		<hr />

		<input type="text" ng-model="vm.newItem"
			placeholder="Enter the description..." />

		<button type="submit" ng-disabled="!vm.newItem">Add</button>

	</form>
</body>
</html>